body{
    
cursor: url('http://www.rw-designer.com/cursor-extern.php?id=229682'),pointer;

    background-color: rgb(202, 169, 232);
        background: url('4f7383bb7510047a6c27450df8255537.jpg') center/cover no-repeat;
         font-family: Arial, sans-serif;
    padding: 20px;
    
    
}


h1 {
    text-align: center;
    color: #4f1a5a;
}
form {
    background: #ebdff6;
    padding: 20px;
    border-radius: 12px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=229682'),pointer;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    
}
legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #7a3ea1;
    margin-bottom: 10px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 15px;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=229682'),pointer;
}
.btn {
    background: #7a3ea1;
    color: white;
    padding: 12px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    width: 100%;
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=229682'),pointer;
}
