body {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=229682'),pointer;

    margin: 0;
    font-family: 'Cambria', Georgia, serif;
    background: #e9d9fd; /* Soft lavender background */
    color: #27104e;
    line-height: 1.6;
}