body {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=229682'),pointer;

    margin: 0;
    font-family: 'Cambria', Georgia, serif;
    background: #e9d9fd; /* Soft lavender background */
    color: #27104e;
    line-height: 1.6;
}
/* Navigation bar */
ul {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=229682'),pointer;

    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background: linear-gradient(90deg, #b45ade, #d69cf8);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
